// Variables
$primary-color: black;
$secondary-color: white;
$font-stack: "Helvetica Now Display";
$text-color: $secondary-color;
$background-color: $primary-color;
$mobile: 768px;
$desktop: 1024px;
$tablet: 769px - 1024;
